@{
    ViewBag.Title = "Index";
}
<h2>채팅</h2>
<div id="app">
    <button @@click="deleteAll">채팅 모두 삭제 하기</button>
    <input type="hidden" id="displayname" v-model="userName" />

    <div class="chat-list">
        <div v-for="chat in chats">
            <span>{{chat.UserName}} : {{chat.Message}}</span>
        </div>
    </div>
    <input v-model="message" />
    <button @@click="sendMessage">Send</button>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                userName: "",
                message: "",
                isRegister : false,
                chats: []
            },
            created() {
                let self = this;
                let isUser = localStorage.getItem("user");
                //if (isUser) {
                    $.get('/Tables/GetChats', function (chats) {
                        if (chats) {
                            self.chats = chats;
                        }
                    })
                //}
                //else {
                    self.userName = prompt('이름을 입력하세요:', '');
                    localStorage.setItem(`user`, self.userName);
                //}                
            },
            mounted() {
                let self = this;
                let chat = $.connection.chatHub;
                console.log(chat);
                chat.client.addNewMessageToPage = function (chat) {
                    self.chats.push(chat);
                };
                $.connection.hub.start().done(function () {
                });
            },
            methods: {
                sendMessage() {
                    let self = this;
                    let chat = $.connection.chatHub;
                    chat.server.send(self.userName, self.message);
                    self.message = "";
                },

                deleteAll() {
                    $.post('/Tables/DeleteAll', function () {
                        location.reload();
                    })
                    //localStorage.removeItem("user");
                },

               
            }
        })
    </script>
    <style lang="scss">
        .chat-list {
            width : 20%;
            height : 300px;
            overflow : scroll;
        }
    </style>
    <script>
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}